<div class="influencer-card" data-influencer-id="<%= influencer.id %>">
  <div class="influencer-card-sections">
    <div class="photo">
      <%= image_tag influencer.influencer_instagram_profile_image, id: "avatar" %>
    </div>
    <div class="influencer-title">
      <h4><%= influencer.influencer_full_name %></h4>
      <h6> <%= influencer.influencer_instagram_username %> </h6>
    </div>
    <div class="card-stats">
      <p>Followers</p>
      <div class="card-stats-followers">
      <p> <%=influencer.statistics_followers%></p>
      </div>

    </div>
    <div class="card-stats">
      <div class="card-stat-engagement">
        <p>Engagement</p>
      </div>
      <p> <%=influencer.statistics_engagement%></p>
    </div>
    <span class="influencer-icon" id="like-icon-<%= influencer.id %>">
      <%= render "influencers/like_icon", influencer: influencer %>
    </span>
  </div>
</div>

