<div class="influencer-card" data-influencer-id="<%= influencer.id %>">
  <div class="influencer-card-sections">
    <div class="influencer-title">
      <h4><%= influencer.influencer_full_name %></h4>
      <h6> <%= influencer.influencer_instagram_username %> </h6>
    </div>
    <div class="card-stats">
      <p> Followers <%= influencer.statistics_followers %></p>
      <p> Engagement <%= influencer.statistics_engagement %></p>
    </div>
  </div>
</div>
